// employee search
// author: Nguyễn Sỹ Đức Thịnh ( 29/08/2022 )
.content__employee-search {
  display: flex;
  align-items: center;
  margin-top: 10px;
  float: right;
  .employee__listSearch {
    display: flex;
    align-items: center;

    &-item {
      position: relative;
      border: 1px solid #e1dddd;
      border-radius: 4px;
      align-items: center;
      margin-right: 10px;
      #search-manv {
        width: 260px;
        margin-right: 10px;
        padding-left: 38px;
      }
      #search {
        position: absolute;
        top: 12px;
        left: 16px;
      }
      input {
        height: 40px;
        width: 180px;
      }
    }
  }
}
